<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="Förderverein zur Förderung der Kirchenmusik im Ev. Dekanat St. Goarshausen e.V." />
  <meta name="author" content="Lukas Schreiner" />
  <title>VFK - Verein zur Förderung der Kirchenmusik</title>
  <link rel="shortcut icon" type="image/png" href="static/favicon.png"/>
  <!-- Bootstrap core CSS -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="static/css/Droid_Serif_400,700,400italic,700italic" rel="stylesheet" type="text/css" />
  <link href="static/css/Kaushan_Script" rel="stylesheet" type="text/css" />
  <link href="static/css/Montserrat_400_700" rel="stylesheet" type="text/css" />
  <link href="static/css/Roboto_Slab_400,100,300,700" rel="stylesheet" type="text/css" />

  <!-- Custom styles for this template -->
  <link href="static/css/agency.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">VFK</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#services">Zweck</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#portfolio">Projekte</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#donate">Mitgliedschaft und Spenden</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">Über uns</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#team">Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Kontakt</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="masthead">
    <div class="container">
      <div class="intro-text">
        <div class="intro-lead-in">Verein zur Förderung der</div>
        <div class="intro-heading text-uppercase">Kirchenmusik im <br />Ev. Dekanat <br />St. Goarshausen</div>
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Unser Zweck</a>
      </div>
    </div>
  </header>

  <!-- Unser Zweck -->
  <section class="page-section" id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Unser Zweck</h2>
          <h3 class="section-subheading text-muted">Förderung von anspruchsvolle kirchenmusikalische Projekte!</h3>
        </div>
        <p class="text-muted">Wir als gemeinnützig anerkannter Verein zur Förderung der Kirchenmusik im Ev. Dekanat St. Goarshausen e.V. (kurz VFK) fördern anspruchsvolle Kirchenmusik der Kantorei im Dekanat Nassau Land (ehemals Dekanat St. Goarshausen). Zu den Projekten gehören unter anderem: </p>
      </div>
      <div class="row text-center">
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-church fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Gottesdienste</h4>
          <p class="text-muted">Unterstützung und Gestaltung von kirchenmusikalischen Gottesdienste, auch und gerne mit den Besuchern.</p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-music fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Konzerte</h4>
          <p class="text-muted">Ausrichten von abendfüllenden Konzerten. Dabei liegt der Fokus nicht nur auf große und bekannte Stücke, sondern auch in fast vergessene Künstler, die unser Kantor auffinden kann.</p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-drum fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Orchesterbegleitung</h4>
          <p class="text-muted">Konzerte, Gottesdienste, geistliche Abendmusiken - zu allen Dingen vermögen die Stimmen die Worte zum Erklingen bringen. Aber die Emotionen lassen sich besonders gut durch die musikalische Begleitung von Orchester oder Orgel transportieren!</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Projekte -->
  <section class="bg-light page-section" id="portfolio">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Projekte</h2>
          <h3 class="section-subheading text-muted">der Kantorei St. Goarshausen (Auszug)</h3>
        </div>
      </div>
      <div class="row">
        {% for project in site.projects %}
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal{{ project.title }}">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" style="height:200px" src="static/covers/{{ project.img }}" alt="" />
          </a>
          <div class="portfolio-caption">
            <h4>{{ project.name }}</h4>
            <p class="text-muted">{{ project.shortdesc }}</p>
          </div>
        </div>
        {% endfor %}
      <div class="row">
        <p class="text-muted">Der Verein hat zu einigen der oben genannten Projekten noch CDs auf Lager. Wenn wir Ihr Interesse geweckt haben, können Sie sich gerne zwecks Bestellung an <a href="mailto:anja.schreiner@vfk-goh.de">unsere Kassiererin</a> wenden. Zuzüglich zu den CD-Preisen fallen Versandkosten in Höhe von 1,90 € an.</p>

        <p class="text-muted">Da die Produktionskosten sehr hoch sind und die finanziellen Mittel des Vereins eine weitere Finanzierung von CD-Aufnahmen nicht mehr leisten kann, wurde die CD-Produktion eingestellt. Die hier noch angebotenen CDs sind die letzte ihrer Art, die sie (derzeit) durch uns erwerben können.</p>
      </div>
    </div>
  </section>

  <!-- Über uns -->
  <section class="page-section" id="donate">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Mitgliedschaft und Spenden</h2>
          <h3 class="section-subheading text-muted">Unterstützen auch Sie uns!</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <p class="text-muted">
            Werden Sie doch Mitglied!
          </p>
          <p class="text-muted">
            Durch eine Mitgliedschaft wird der Verein mit einem jährlichen Spendenbeitrag, der bei mindestens 30,00 € liegt, unterstützt. Als gemeinnützig anerkannter Verein erhalten Sie auf Wunsch gerne eine von der Steuer absetzbare Spendenquittung ausgestellt. Als Mitglieder genießen Sie den Vorteil immer über den aktuellen Stand der kirchenmusikalischen Aktivitäten der Kantorei informiert zu sein.
          </p>
          <p class="text-muted">
            Um ein wenig Bürokratie kommen auch wir nicht herum. Wir haben auch eine <a href="https://markus-ziegler.com/satzung.pdf">Satzung</a>. Und unser <a href="https://markus-ziegler.com/Aufnahmeantrag.pdf">Beitrittsformular</a> ist auch zügig ausgefüllt und an unseren <a href="mailto:info@vfk-goh.de">Vorstand</a> gesendet.
          </p>
        </div>
        <div class="col-sm-4">
          <p class="text-muted">
            Ihnen gefiel das letzte Projekt im besonderen Maße? Oder Sie freuen sich schon auf das nächste Konzert einer der Gruppen und möchten sicherstellen, dass die Finanzierung klappt?
          </p>
          <p class="text-muted">
            Gerne nehmen wir Ihre Unterstützung an. Auch Sponsoren sind herzlichst eingeladen mit uns gemeinsam die Gruppen zu unterstützen.
          </p>
          <p class="text-muted">
            Wir nehmen Spenden auf unser Konto der Nassauischen Sparkasse entgegen:
          </p>
          <p class="text-muted">
            <strong>IBAN:</strong> DE 98 5105 0015 0710 1137 77<br /><strong>BIC:</strong> NASSDE55XXX
          </p>
        </div>
        <div class="col-sm-4">
          <p class="text-muted">
            Sie haben eine Firma oder Unternehmen in der Region von Nastätten und haben Interesse an Werbung zu schalten? Wir haben nebenan der Nassauischen Sparkasse in Nastätten auch ein Schaukasten des Vereins. Im Schaukasten haben wir einige freie Plätze um gezielt Sie als Sponsor mit aufzunehmen.
          </p>
          <img src="static/img/sponsor/kasten1.jpg" alt="" width="299" />
          <img src="static/img/sponsor/kasten2.jpg" alt="" width="299" />
        </div>
        <p class="text-muted">
          Weitere Infos erhalten Sie bei Bedarf bei: 
          <ul>
            <li class="text-muted">Dekanatskantor Markus Ziegler, Nastätten, Telefon: 06772/961463</li>
            <li class="text-muted">Ute Talg (Vorsitzende), Forstbachstrasse 13, 56346 St. Goarshausen, Telefon 06771/1824, E-Mail: ute.talg@vfk-goh.de</li>
          </ul>
        </p>
      </div>
    </div>
  </section>

  <!-- Über uns -->
  <section class="bg-light page-section" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Über uns</h2>
          <h3 class="section-subheading text-muted">die Geschichte des VFK</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <ul class="timeline">
            <li>
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="static/img/about/1.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>1999-2004</h4>
                  <h4 class="subheading">Ein neuer Kantor startet</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Motiviert begann Markus Ziegler seine Arbeit im Dekanat St. Goarshausen. Markus Ziegler baute u.a. mit dem Ziel einen übergemeindlichen Chor, welcher Gottesdienste, Geistliche Abendmusiken, Konzerte etc. musikalisch gestaltet, die heutige Kantorei auf. Im Laufe der Zeit folgen noch einige weitere musikalische Gruppen im Dekanat.</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="static/img/about/2.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>Mai 2004</h4>
                  <h4 class="subheading">Der Verein findet sich</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Die Arbeit des Kantors blüht im Herzen des Blauen Ländchens auf und nur die dringend nötigen finanziellen Mitteln bremsen die weitere musikalische Arbeit im Dekanat. Um hier entgegenzuwirken gründete sich der heutige Verein zur Förderung der Kirchenmusik im Ev. Dekanat St. Goarshausen (kurz: VFK). Die Gründungsveranstaltung erolgte am 17.05.2004.</p>
                </div>
              </div>
            </li>
            <li class="timeline-panel">
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="static/img/about/3.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>2004-2006</h4>
                  <h4 class="subheading">Die Suche beginnt</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Der Verein baut sich auf, sucht nach Mitgliedern und Mitstreitern.</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="static/img/about/4.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>April 2006</h4>
                  <h4 class="subheading">Die Bürokratie bleibt nicht aus</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Der Verein strebt die Gemeinnützigkeit an, damit sich noch einfacher Leute davon überzeugen lassen können, den Verein und die kirchenmusikalische Arbeit im Dekanat finanziell zu unterstützen. Die Eintragung ins Vereinsregister des Amtsgerichts Koblenz erfolgt am 11. April 2006.</p>
                </div>
              </div>
            </li>
            <li class="timeline-panel">
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="static/img/about/4.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>2006-2016</h4>
                  <h4 class="subheading">Projekte laufen!</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Viele Konzerte und Projekte werden im Ev. Dekanat St. Goarshausen durch den Verein gefördert. Nicht nur finanziell, sondern auch organisatorisch! So bleibt dieser Ballast fern der Gruppen. Dank kräftiger Unterstützung von diversen Spendern, Sponsoren und Mitgliedern können auch CD-Aufnahmen hergestellt werden.</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="static/img/about/4.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>2016-2019</h4>
                  <h4 class="subheading">... im neuen Dekanat</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Seit dem 1. Januar 2016 ist das Ev. Dekanat St. Goarshausen nicht mehr eigenständig, sondern in das Dekanat Nassauer Land überführt worden. Der Verein führt seine Arbeit unbeirrt dessen in der Region fort. Zum Glück und zur Freude von Konzertbesuchern und den kirchenmusikalischen Gruppen.</p>
                </div>
              </div>
            </li>
            <li class="timeline-panel">
              <div class="timeline-image">
                <h4>Werde Teil
                  <br>unserer
                  <br>Geschichte!</h4>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <!-- Team -->
  <section class="page-section" id="team">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Unser Vorstand</h2>
          <h3 class="section-subheading text-muted">unterstützt bei Fragen</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="static/img/team/ute.jpg" alt="">
            <h4>Ute Talg</h4>
            <p class="text-muted">1. Vorsitzende</p>
            <!--<ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>-->
          </div>
        </div>
        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="static/img/team/lus.jpg" alt="">
            <h4>Lukas Schreiner</h4>
            <p class="text-muted">2. Vorsitzender</p>
          </div>
        </div>      
        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="static/img/team/baerbel.jpg" alt="">
            <h4>Bärbel Goerke</h4>
            <p class="text-muted">Schriftführerin</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="static/img/team/anja.jpg" alt="">
              <h4>Anja Schreiner</h4>
              <p class="text-muted">Kassiererin</p>
            </div>
          </div>
        <div class="col-sm-4">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="static/img/team/markus.jpg" alt="">
              <h4>Markus Ziegler</h4>
              <p class="text-muted">Kantor</p>
            </div>
          </div>
        <div class="col-sm-4">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="static/img/team/michael.jpg" alt="">
              <h4>Michael Powarzynski</h4>
              <p class="text-muted">Berater</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <p class="large text-muted">Der Vorstand des Vereins kümmert sich um die Lenkung des Vereins und die Sichtung der Projektanträge. Einmal im Jahr legt der Vorstand den Mitgliedern gegenüber Rechenschaft ab.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Clients -->
  <!--<section class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <a href="#">
            <img class="img-fluid d-block mx-auto" src="static/img/logos/envato.jpg" alt="">
          </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="#">
            <img class="img-fluid d-block mx-auto" src="static/img/logos/designmodo.jpg" alt="">
          </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="#">
            <img class="img-fluid d-block mx-auto" src="static/img/logos/themeforest.jpg" alt="">
          </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="#">
            <img class="img-fluid d-block mx-auto" src="static/img/logos/creative-market.jpg" alt="">
          </a>
        </div>
      </div>
    </div>
  </section>-->

  <!-- Kontakt -->
  <section class="page-section" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Kontakt</h2>
          <h3 class="section-subheading text-white">Du hast Fragen bzgl. Spenden oder Mitgliedschaft?</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <form id="contactForm" name="sentMessage" novalidate="novalidate">
            <div class="row">
              <div class="col-md-6">
                <p class="text-white">Als Ansprechpartner steht Ihnen gerne einer der Vorstandsmitglieder zur Verfügung.</p>
              </div>
              <div class="col-md-6">
                <p class="text-white">Am Besten schreiben Sie uns einfach an info@vfk-goh.de</p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="footer">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-4">
          <span class="copyright">Copyright &copy; VFK 2019</span>
        </div>
        <div class="col-md-4">
          <!--<ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>-->
        </div>
        <div class="col-md-4">
          <ul class="list-inline quicklinks">
            <li class="list-inline-item">
              <a href="#">Datenschutzerklärung</a>
            </li>
            <li class="list-inline-item">
              <a href="#">Impressum</a>
            </li>
            <!--<li class="list-inline-item">
              <a href="#">Terms of Use</a>
            </li>-->
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- Portfolio Modals -->

  <!-- Modals -->
  {% for project in site.projects %}
  <div class="portfolio-modal modal fade" id="portfolioModal{{ project.title }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">{{ project.name }}</h2>
                <p class="item-intro text-muted">{{ project.shortdesc }}</p>
                <img class="img-fluid d-block mx-auto" src="static/covers/{{ project.img }}" alt="">
                {{ project.content }}
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  Projekt schließen</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}

  <!-- Bootstrap core JavaScript -->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="static/js/agency.min.js"></script>

</body>

</html>